* {
	margin: 0;
}

body {
	background-color: hsl(0, 0%, 98%);
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: hsl(229, 6%, 66%);
	font-weight: 400;
	padding: 2rem;
}

.main-heading,
.sub-heading,
h3 {
	color: hsl(234, 12%, 34%);
}

.main-heading {
	font-weight: 200;
	font-size: 1.5rem;
}

.sub-heading {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.sub-heading,
h3 {
	font-weight: 600;
}

h4 {
	font-weight: 400;
}

.intro {
	text-align: center;
	margin: 4rem 0;
}

.intro p {
	max-width: 95%;
	margin: auto;
}

.card {
	background: #fff;
	margin: 1.5rem 0;
	padding: 1.5rem;
	border-radius: 5px;
	box-shadow: 0 10px 15px #d1dfee;
}

.card p {
	margin: 0.25rem 0 2rem 0;
}

.supervisor {
	border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
	border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
	border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
	border-top: 4px solid hsl(212, 86%, 64%);
}

.img-align-right {
	text-align: right;
}

@media (min-width: 815px) {
	.intro {
		text-align: center;
		margin: 4rem 0;
	}
	.intro p {
		max-width: 35%;
		margin: auto;
	}
	.main-heading,
	.sub-heading {
		font-size: 2.75rem;
	}
	.sub-heading {
		margin-bottom: 1rem;
	}
	main {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 30px;
		grid-template-areas: '. teambuilder .' 'supervisor teambuilder calculator' 'supervisor karma calculator'
			'. karma .';
		max-width: 80%;
		margin: auto;
		padding-bottom: 30px;
	}
	.card {
		margin: 0;
	}
	.karma {
		grid-area: karma;
	}
	.supervisor {
		grid-area: supervisor;
	}
	.calculator {
		grid-area: calculator;
	}
	.team-builder {
		grid-area: teambuilder;
	}
}
