body {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
	color: hsl(229, 6%, 66%);
}

h1 {
	font-size: 1.5rem;
	text-align: center;
}

h5 {
	font-weight: bold;
}

h1,
h5 {
	color: hsl(234, 12%, 34%);
}

img {
	float: right;
	clear: none;
}

.container {
	padding: 2rem;
}

.intro {
	text-align: center;
	padding: 1.75rem 0;
}

.card {
	border: none;
	box-shadow: 0 2px 10px 2px hsl(213, 55%, 87%);
}

#supervisor {
	border-top: 4px solid hsl(180, 62%, 55%);
}

#team-builder {
	border-top: 4px solid hsl(0, 78%, 62%);
}

#karma {
	border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
	border-top: 4px solid hsl(212, 86%, 64%);
}
